@page
@model Client.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container mt-5">
    <div class="text-center">
        <h2>Vols tancar la sessió?</h2>
        <form method="post">
            <button type="submit" class="btn btn-danger mt-3">Tancar sessió</button>
        </form>
    </div>
</div>
